body {
  font-family: "Open Sans";
  background-color: rgba(0, 255, 234, 0.11);
}

h1 {
  text-decoration: underline;
}

div {
  border: 15px outset rgb(43, 38, 38);
  background-color: rgb(244, 248, 245);
  text-align: center;
}

img {
  width: 100%;
  height:auto;
}
  
